body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#ffd6ec,
#d9f4ff
);
font-family:Arial,sans-serif;
}

.page{
text-align:center;
}

h1{
color:#ff4da6;
font-size:3rem;
}

button{
padding:15px 25px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
}
